.home-h {
  background-image: url("./images/home/living-room.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vmin 0 50vmin;
}
.home-h-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-h-kai {
  background-image: url("./kai-bg.svg");
  background-position: center;
  background-position: center 98%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}
.home-h-grad {
  background: linear-gradient(#fbfbfa, transparent 0.125rem);
}
.home-h-text {
  backdrop-filter: blur(1px);
  padding: 2rem;
  text-shadow: 0 0 0.25rem #fff, 0 0 0.5rem #fff, 0 0 0.75rem #fff;
  font-weight: 300;
  background: radial-gradient(
    circle at center,
    hsl(var(--hue) 5% 99% / 99%),
    hsl(var(--hue) 5% 99% / 75%)
  );
  border-radius: 0.25rem;
  z-index: 4;
  max-width: 31rem;
  box-shadow: var(--box-shadow);
}
@media (width < 24.5rem) {
  .home-h {
    padding: 54vmin 0 0;
  }
  .home-h-kai {
    background-position: center -2%;
  }
  .home-h-text {
    padding: 1.5rem 1.25rem;
    border-radius: 0;
    box-shadow: none;
  }
  .home-h-text br {
    display: none;
  }
}
.home-h-text p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}
.home-h-text h2 {
  font-weight: 200;
  font-size: 2.25rem;
  line-height: 1.1;
  margin: 0 0 0.5rem;
}
@media (width < 40rem) {
  .home-h-text {
    max-width: 27rem;
  }
}
@media (width < 30rem) {
  .home-h-text {
    max-width: 25rem;
  }
  .home-h-text p {
    font-size: 1rem;
  }
}
@media (width < 26.75rem) {
  .home-h-text {
    padding: 1.5rem;
    max-width: 24rem;
  }
}
@media (width >= 24.5rem) {
  .home-h-text p span {
    display: none;
  }
}

.home-banner {
  margin-bottom: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    110deg,
    #fff 0%,
    #fff 4%,
    hsl(80 6% 36%) 4%,
    hsl(80 6% 36%) 14%,
    #fff 14%,
    #fff 15%,
    hsl(98 36% 40%) 15%,
    hsl(84 36% 58%) 79%,
    #fff 79%,
    #fff 80%,
    hsl(42 35% 80%) 80%,
    hsl(42 35% 80%) 85%,
    #fff 85%,
    #fff 86%,
    hsl(40 36% 64%) 86%,
    hsl(40 36% 64%) 96%,
    #fff 96%,
    #fff 100%
  );
}
.home-banner-link {
  padding: 0.375rem 1.5rem 0.375rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 1rem;
  text-shadow: var(--text-shadow);
}

#home footer {
  padding-bottom: 2.25rem;
}
.copyright {
  color: #eee;
  font-size: 0.875rem;
  text-align: center;
  margin: 3.25rem auto 0;
}

.home-cards-container {
  overflow: hidden;
  padding: 1rem 0 3rem;
}
.home-cards {
  display: grid;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}
.home-card:nth-child(1) {
  --card-i: 1;
  --card-x: 2rem;
  --card-rotation: -3deg;
  --card-bg: 90deg 40% 34%;
  --card-z-index: 11;
  --card-y: 0.375rem;
}
.home-card:nth-child(2) {
  --card-i: 2;
  --card-x: 1rem;
  --card-rotation: -1deg;
  --card-bg: 105deg 40% 34%;
  --card-z-index: 12;
  --card-y: 0.5px;
}
.home-card:nth-child(3) {
  --card-i: 3;
  --card-x: 0;
  --card-rotation: 0deg;
  --card-bg: 125deg 40% 34%;
  --card-z-index: 13;
  --card-y: 0;
}
.home-card:nth-child(4) {
  --card-i: 4;
  --card-x: -1rem;
  --card-rotation: 1deg;
  --card-bg: 145deg 40% 34%;
  --card-z-index: 14;
  --card-y: 0.5px;
}
.home-card:nth-child(5) {
  --card-i: 5;
  --card-x: -2rem;
  --card-rotation: 3deg;
  --card-bg: 160deg 40% 34%;
  --card-z-index: 15;
  --card-y: 0.375rem;
}
.home-card:nth-child(6) {
  --card-i: 6;
  --card-rotation: 3deg;
  --card-bg: 175deg 40% 34%;
  --card-z-index: 16;
  --card-y: 0.375rem;
}
.home-card {
  border-radius: 1.25rem;
  border: 0.5rem solid hsl(var(--card-bg));
  background-color: #fff;
  background-image: linear-gradient(
    hsl(var(--card-bg) / 75%),
    hsl(var(--card-bg) / 90%)
  );
  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 0.5rem;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 0.25rem hsl(var(--card-bg)), 0 0 0.5rem hsl(var(--card-bg)),
    0 0 0.75rem hsl(var(--card-bg));
}
.home-card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 0 0.25rem;
  margin: 0;
  letter-spacing: 0.25px;
  line-height: 1;
}
.home-card p {
  margin: 0;
  padding: 0.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.95;
  line-height: 1.1;
}
.home-card:hover {
  box-shadow: var(--box-shadow-strong);
  transform: scale(1.01);
}
.home-card-circle {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: linear-gradient(
    hsl(var(--card-bg) / 25%),
    hsl(var(--card-bg) / 70%)
  );
  border-radius: 50%;
  overflow: hidden;
  border: 0.5rem solid hsl(var(--card-bg));
}
.home-card-house-img {
  margin: auto;
  filter: drop-shadow(2px 2px #fffc) drop-shadow(2px -2px #fffc)
    drop-shadow(-2px 2px #fffc) drop-shadow(-2px -2px #fffc);
}
@media (60rem > width >= 40rem) {
  .home-cards {
    padding: 0.5rem 0;
    width: calc(100% + 3rem);
    transform: translateX(-1.5rem);
    grid-template-columns: repeat(5, 1fr);
  }
  .home-card {
    transform: scale(1) rotate(var(--card-rotation)) translateY(var(--card-y))
      translateX(var(--card-x));
    z-index: var(--card-z-index);
    transition: transform 0.2s, z-index 0.2s, box-shadow 0.2s;
  }
  .home-card:hover {
    transform: scale(1.01) rotate(0deg) translateY(-0.5rem)
      translateX(var(--card-x));
    z-index: 20;
  }
  .home-card p {
    font-size: 15px;
    padding: 0.25rem 0.375rem 0.75rem;
  }
}
@media (58rem > width >= 40rem) {
  .home-card h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
  }
  .home-card p {
    font-size: 0.875rem;
  }
}
@media (44rem > width >= 40rem) {
  .home-card h3 {
    font-size: 1.125rem;
    padding: 0.75rem 0 0.25rem;
  }
  .home-card p {
    padding: 0.25rem 0.125rem 0.75rem;
  }
}
@media (41rem > width >= 40rem) {
  .home-card h3 {
    font-size: 1rem;
  }
}
.home-hide-sm {
  display: none;
}
@media (width >= 40rem) {
  .home-show-sm {
    display: none;
  }
  .home-hide-sm {
    display: flex;
  }
}
@media (width < 40rem) {
  .home-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.5rem 0.25rem;
  }
}
@media (width < 35rem) {
  .home-cards {
    padding: 0.5rem 0.125rem;
  }
}
@media (35rem > width >= 27.5rem) {
  .home-card h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
  }
  .home-card p {
    font-size: 0.875rem;
    padding: 0.25rem 0.375rem 0.75rem;
  }
}
@media (30rem > width >= 27.5rem) {
  .home-card h3 {
    font-size: 1.125rem;
    padding: 0.75rem 0 0.25rem;
  }
  .home-card p {
    padding: 0.25rem 0.125rem 0.75rem;
  }
}
@media (width < 27.5rem) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 23.75rem) {
  .home-card h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
  }
  .home-card p {
    font-size: 0.875rem;
    padding: 0.25rem 0.375rem 0.75rem;
  }
}
@media (width < 20.5rem) {
  .home-card h3 {
    font-size: 1.125rem;
    padding: 0.75rem 0 0.25rem;
  }
  .home-card p {
    padding: 0.25rem 0.125rem 0.75rem;
  }
}
@media (width >= 60rem) {
  .home-show-sm {
    display: block;
  }
  .home-hide-sm {
    display: none;
  }
}
@media (60rem <= width < 63rem) {
  .home-card h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
  }
  .home-card p {
    font-size: 0.875rem;
    padding: 0.25rem 0.375rem 0.75rem;
  }
}
@media (75rem > width >= 60rem) {
  .home-cards {
    grid-template-columns: repeat(6, 1fr);
    padding: 0.5rem 0;
    width: calc(100% + 3rem);
    transform: translateX(1.125rem);
    gap: 0;
  }
  .home-card:nth-child(4) {
    --card-rotation: 0deg;
  }
  .home-card:nth-child(5) {
    --card-rotation: 1deg;
    --card-y: 0.5px;
  }
  .home-card {
    transform: rotate(var(--card-rotation)) translateY(var(--card-y))
      translateX(calc(var(--card-i) * -0.75rem));
    z-index: var(--card-z-index);
    transition: transform 0.2s, z-index 0.2s, box-shadow 0.2s;
  }
  .home-card:hover {
    transform: scale(1.01) rotate(0deg) translateY(-0.5rem)
      translateX(calc(var(--card-i) * -0.75rem));
    z-index: 20;
  }
}
@media (width >= 75rem) {
  .home-cards {
    padding: 0.5rem;
    gap: 0.25rem;
    grid-template-columns: repeat(6, 1fr);
  }
}
