body {
  --gallery-bg: hsl(var(--hue) 16% 97%);
}
header {
  background-color: var(--gallery-bg);
}
.nav-link {
  background-color: hsl(var(--hue) 16% 99% / 90%);
}
.nav-link:hover,
.nav-link:focus {
  background-color: #fff;
}
article {
  padding: 1.5rem 1rem;
}
article section {
  padding: 0.75rem 1.5rem;
  margin: auto;
  background-color: #fff;
  border-radius: 0.125rem;
  max-width: 40rem;
  border: 1px solid hsl(var(--hue) 5% 96% / 75%);
  box-shadow: var(--box-shadow);
}
h1 {
  text-transform: none;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}
.feature-bg {
  background: radial-gradient(#555d, #111e);
  position: relative;
}
.main-feature {
  margin: auto;
  width: fit-content;
}
#feature {
  max-height: 62rem;
}
.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 5rem;
  opacity: 0.75;
  color: #fff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.arrow:hover {
  opacity: 1;
}
.chevron {
  margin: auto;
}
#prev {
  left: 0;
  background: linear-gradient(to left, transparent, hsl(0 0 0 / 5%));
}
#prev:hover {
  background: linear-gradient(to left, transparent, hsl(0 0 0 / 30%));
}
#next {
  right: 0;
  background: linear-gradient(to right, transparent, hsl(0 0 0 / 5%));
}
#next:hover {
  background: linear-gradient(to right, transparent, hsl(0 0 0 / 30%));
}
.gallery-slideshow {
  position: relative;
  --photo-width: 38vw;
}
@media (width > 36rem) {
  .gallery-slideshow {
    --photo-width: 12rem;
  }
}
#gallery {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  border-top: 0.125rem solid #fff;
  border-bottom: 0.125rem solid #fff;
  overflow-x: scroll;
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  min-height: calc(var(--photo-width) * (9 / 16));
  /* box-shadow: inset 0.5rem 0 0.25rem 0.125rem #000,
    inset -0.5rem 0 0.25rem 0.125rem #000, inset 0.75rem 0 0.25rem #000,
    inset -0.75rem 0 0.25rem #000; */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}
@media (width > 120rem) {
  #gallery {
    justify-content: center;
  }
}
#gallery::-webkit-scrollbar {
  height: 0.5rem;
}
#gallery::-webkit-scrollbar-thumb {
  background-color: var(--green-theme-hex);
  border-radius: 0.375rem;
}
.photo {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 var(--photo-width);
  overflow: hidden;
  cursor: pointer;
  border: 0.125rem solid #fff;
}
.photo:first-child {
  border-left-width: 0.25rem;
}
.photo:last-child {
  border-right-width: 0.25rem;
}
.photo::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: radial-gradient(
    hsl(var(--hue) 25% 95% / 2%),
    hsl(var(--hue) 40% 60% / 2%),
    hsl(var(--hue) 40% 60% / 2%),
    hsl(var(--hue) 25% 10% / 8%)
  );
  opacity: 0.95;
  transition: opacity 0.2s;
  z-index: 1;
}
.photo img {
  object-fit: cover;
  flex: 1 1 auto;
  filter: grayscale(0.05);
  opacity: 0.9;
  transition: all 0.2s;
}
.photo:hover img {
  opacity: 1;
  filter: grayscale(0);
}
.photo:hover::after {
  opacity: 0;
}
#videos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-direction: column;
  padding: 1rem;
}
.ytplayer {
  --available-width: calc(100vw - 4.5rem);
  --vid-width: var(--available-width);
  --vid-height: calc((var(--vid-width) / 16) * 9 + 1rem);
  min-height: var(--vid-height);
}
@media (width > 38rem) {
  #videos {
    flex-direction: row;
    overflow-x: scroll;
  }
  .ytplayer {
    --vid-width: calc(var(--available-width) / 3);
  }
}
