.portfolio-links {
  display: flex;
  flex-wrap: wrap;
  border: 0.125rem solid #fff;
}
.img-link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 0.25rem solid #fff;
}
.label-box {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
  top: calc(50% - 1rem);
}
.hover-text {
  position: absolute;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  text-shadow: 0 0 0.75rem #000, 0 0 1rem #000d, 0 0 2rem #000d;
  margin: 0 auto;
  background: radial-gradient(circle at center, #0006, transparent 50%);
  user-select: none;
  top: 200%;
  transition: top 0.2s;
}
@media (width >= 36rem) {
  .img-link {
    width: 50%;
  }
}
@media (width > 50rem) {
  .img-link {
    width: calc(100% / 3);
  }
}
@media (width > 80rem) {
  .img-link {
    width: 25%;
  }
}
@media (width > 100rem) {
  .img-link {
    width: 20%;
  }
}
.img-link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: radial-gradient(
      hsl(var(--hero-bg) / 1%),
      hsl(var(--hero-bg) / 20%)
    ),
    radial-gradient(
      hsl(var(--hue) 25% 95% / 10%),
      hsl(var(--hue) 40% 60% / 10%),
      hsl(var(--hue) 40% 60% / 10%),
      hsl(var(--hue) 25% 10% / 20%)
    );
  opacity: 0.9;
  transition: opacity 0.2s;
  z-index: 1;
}
.img-link img {
  object-fit: cover;
  flex: 1 1 auto;
  filter: grayscale(0.1);
  transform: scale(1);
  transition: all 0.2s;
}
.img-link:hover img {
  transform: scale(1.025);
  filter: grayscale(0);
}
.img-link:hover::after {
  opacity: 0;
}
.img-link:hover .hover-text {
  top: calc(50% - 0.75rem);
}
